<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="psf.contribution">
         <menu
               label="Project Sets"
               path="additions"
               id="psf.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <!--action
               label="Import PSF"
               class="org.psf.importer.popup.actions.ImportProjectSetAction"
               menubarPath="psf-import.menu/group"
               enablesFor="+"
               id="psf-import.defaultAction">
         </action-->
         <action
               label="Import..."
               class="org.psf.importer.popup.actions.ImportProjectSetWizardAction"
               menubarPath="psf.menu/group"
               enablesFor="+"
               id="psf-import.wizardAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
