<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="psf.contribution">
         <menu
               label="Project Sets"
               path="additions"
               id="psf.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <!--action
               label="Import PSF"
               class="org.psf.importer.popup.actions.ImportProjectSetAction"
               menubarPath="psf-import.menu/group"
               enablesFor="+"
               id="psf-import.defaultAction">
         </action-->
         <action
               label="Import..."
               class="org.psf.importer.popup.actions.ImportProjectSetWizardAction"
               menubarPath="psf.menu/group"
               enablesFor="+"
               id="psf-import.wizardAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.psf.importer.wizards.sampleCategory"
            name="Sample File Import">
      </category>
      <wizard
            category="org.psf.importer.wizards.sampleCategory"
            class="org.psf.importer.wizard.ImportProjectSetWizard"
            icon="icons/sample.gif"
            id="org.psf.importer.wizards.ImportWizard"
            name="Import File">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
