<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.kelvinst.psfimport.ui.importWizards.sampleCategory"
            name="Project Set">
      </category>
      <wizard
            category="org.kelvinst.psfimport.ui.importWizards.sampleCategory"
            class="org.kelvinst.psfimport.ui.importWizards.ImportProjectSetsWizard"
            icon="icons/sample.gif"
            id="org.kelvinst.psfimport.ui.importWizards.ImportProjectSetsWizard"
            name="Import Project Set">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
